body {
    background-color:antiquewhite;

    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: normal;

}

.box1 {

    border-bottom-width: 8px;
    border-bottom-style: dashed;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    margin-top: 20px;
}

.box1 h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size:50px;
    font-weight: 800;
    text-decoration: underline;
    text-transform: uppercase;
}

.box4 h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: italic;
}

.box2 {
    border: 5px dotted #cccccc;
    border-radius: 40px;
    padding: 20px;
    margin: 20px 0px;

    font-size: 20px;
}

.container {
    width: 80%;
    margin: auto;
}